body {
	background-color: #181a1b;
	color: #fff;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

#titre {
	font-weight: 300px;
	text-align: center
}

.content {
	background: #202325;
	color: #fff;
	margin: auto;
	box-sizing: border-box;
	padding: 20px 5vmin;
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397);
	transition: 0.1s;
	-webkit-transition: 0.1s;
}

button {
	font-weight: 500;
    border-radius: 10px;
    border: 0px solid;
    transition: ease 0.5s;
    cursor: pointer;
	margin: 0;
	margin-top: 20px;
	text-align: center;
	background-color: #0092cc;
	color: #000;
	width: 100%;
}

button:hover {
	background-color: #00b7ff;
	transition: ease 0.5s;
	box-shadow: 0px 0px 25px #00b7ff23;
	z-index: 100;
	color: #000;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #00b7ff radial-gradient(circle, transparent 1%, #00b7ff 1%) center/15000%;
}
.ripple:active {
  background-color: #38c7ff;
  background-size: 100%;
  transition: background 0s;
}

a {
	color: grey;
	text-decoration: none;
}

input:not([type=checkbox]):not([type=radio]), select, textarea {
	border: none;
	border-bottom: 1px solid rgb(100, 100, 100);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 1em;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 0px;
}

input:not([type=checkbox]):not([type=radio]):focus, select:focus, textarea:focus {
	border-bottom: 1px solid #00B7FF;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	outline: none;
	width: 100%;
    margin-bottom: 20px;
}

footer {
	text-align: center;
}

iframe {
    border: none;
    margin: auto;
    width: 100%;
    text-align: center;
}

.switch-container {
    background: #1a1c1e;
    border-radius: 15px;
    padding: 5px
}

/* ====================================================================== */
/* ========================= ADAPTATIONS MOBILE ========================= */
/* ====================================================================== */

/* si la largeur d'écran est d'au moins 601px, ordinateur */
@media screen and (min-width: 601px) {
	.content {
		margin-top: 10vh;
		width: 35vmax;
	}
	button {
		font-size: 1.8vmin;
		padding: 0.7vmax;
	}
}

/* si la taille d'écran est moins de 600px, mobile */
@media screen and (max-width: 600px) {
	.content {
		width: 87vmin;
		border-radius: 20px;
	}
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}

	.container {
		height: 100vmax;
		width: 100vmin;
	}
	button {
		font-size: 20px;
		padding: 1vmax;
	}
}
/* ========================================================================= */
/* ========================= AFFICHAGE AUTOMATIQUE ========================= */
/* ========================================================================= */

/* MODE SOMBRE AUTOMATIQUE, DOIT RESTER EN BAS */
@media (prefers-color-scheme: light) {
	body { 
   		background-color: rgb(240, 240, 240);
		color: rgb(0, 0, 0);
  	}
	
	.content {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.185);
	}

	input:not([type=checkbox]):not([type=radio]):focus, select:focus {
		border-bottom: 1px solid #00B7FF;
		color: #000;
	}

	input:not([type=checkbox]):not([type=radio]), select, textarea {
		color: #000;
		border-bottom: 1px solid rgb(100, 100, 100);
	}

	button {
		color: #fff;
		background: #00B7FF;
		width: 100%;
	}

	button:hover {
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.397);
		color: #fff;
		background:#0092cc;
	}

	a {
	color: rgb(0, 140, 255);
	text-decoration: none;
	}
    .switch-container {
    background: #ececec;
}
}